input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-recommendation {
  color: #999;
  padding: 0.5rem;
}

.recommendation {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.recommendation li {
  padding: 0.5rem;
  position: "absolute";
}

.recommendation li:hover {
  background-color: #3e5bff;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

.recommendation li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}